/* RESET  */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.head-container {
    width: 100vw;
    position: fixed;
    

}

.flex-container-a {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    min-height: 10vh;
    
}

.clearfix {
    content: '';
    display: table;
    clear: both;
}

.left-block > img {
    float: left
}

.links-a {
    float: left;
}


.links-b {
    float: right;
}

.links-c {
    float: right;
}


/* DEBUG LAYOUT */

.debug1 {
    background-color: green;
}
