/* RESET  */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

 
 .clearfix {
    content: '';
    display: table;
    clear: both;
}

body {
    font-family: noto sans, sans-serif;
}

/* ATTRIBUTI HEADER  */

/* HEADER FISSO CON DIMENSIONE TUTTA VIEWPORT  */

.head-container {
    width: 100vw;
    position: fixed;
    background-color: white;
    height: 10vh;
    font-size: large;
    z-index: 9;
    
}

/* Container flex  */

.flex-container-a {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.flex-container-b {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.flex-container-c {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

.flex-container-d {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
}

.flex-container-e {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.flex-container-f {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.flex-container-g {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.flex-container-h {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
}

.flex-container-i {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.flex-container-l {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}


/* ELEMENTI HEADER  */

/* Margine blue hover  */
.click:hover {
    /* Metà altezza header - (il contenuto - border) */
    padding-bottom: calc(5vh - 16px);
    border-bottom: 4px solid blue;
    cursor: pointer;
}

.link > a {
    text-decoration: none;
    color: black;
    padding: 0px 15px;
}

/* Due tasti blue  */

#inizia {
    background-color: #0061ff;
    padding: 3px 3px;
    color: white;
    text-decoration: none;
}

.blue {
    background-color: #0061ff;
    color: white;
    text-decoration: none;
}

.button {
    padding: 10px 10px;
    margin-bottom: 30px;
}

.button2 {
    font-size: 15px;
    padding: 10px 20px;
    margin-top: 15%;
    margin-bottom: 10%;
    text-decoration: none;
    cursor: pointer;
    text-decoration: none;
}

.button3{
    margin-top: 2%;
}

/* Fine tasti  */

.right-side, .left-side {
    min-height: 10vh;
    padding: 0px 35px;
}

#logo {
   padding-right: 20px;
}



/* ATTRIBUTI MAIN  */

.expanded-main {
    width: 100%;
    padding-top: 10%;
}

.alpha-container {
    width: 1100px;
    margin: 0 auto;
}

.right-box {
    width: 67%;
    position: relative;
}

.left-box {
    width: 33%;
}

.narrow-main {
    width: 1200px;
    margin: 0 auto;
}

/* __________________________ */
    /*  PRIMO CONTENITORE  */
/* __________________________ */


/* Distanza tra p e tasti  */

.primo-contenitore {
    background-color: #b4d0e7;
}

.left-box > p {
    padding-bottom: 5%;
}

.left-box > div {
    padding-bottom: 1%;
    
}

/* Freccia nel primo blocco  */

#arrow {
    padding-top: 26.5%;
    font-size: 30px;
    color: black;
}

/* Immagine nel primo blocco  */

#jumbo {
    width: 100%;
    position: absolute;
}

h1 {
    font-size: 65px;
    padding-bottom: 70px;
}


/* __________________________ */
    /* SECONDO CONTENITORE  */
/* __________________________ */

.secondo-contenitore {
    margin-top: 100px;
}

.beta-container {
    width: 900px;
    margin: 0 auto;
}

#h2-1 {
  margin: 0 auto;
  font-size: 35px;
}

.bottoni-speciali {
    padding-top: 3%;
    color: gray;
    
}

.bottoni-speciali > div {
    margin-right: 20px;
    vertical-align: middle;
}

.circle {
    background-color: white;
    padding: 6px 6px;
    border-radius: 100%;
    line-height: 50%;
    vertical-align: middle;
}

.circle:hover {
    cursor: pointer;
    border: 4px solid #0061ff;

}

/* ELEMENTI DA UTILIZZARE SU NECESSITA'  */

.hidden {
    visibility: hidden;
}

/* COLONNE SECONDO CONTENITORE  */

.user {
    width: calc((100% / 3) - 25px);
}


.contenitore-colonne {
    margin-top: 5%;
}

.titolo-colonna {
    padding-top: 3%;
    padding-bottom: 3%;
}

.titolo-colonna > span {
    margin-right: 5px;
}

.fa-check {
    color: #0061ff;
}

.user {
    border: 1px solid gray;
}

.big-list > ol > li {
    list-style: none;
    margin: 5px 0px;
}

.big-list {
    border-top: 1px solid gray;
    padding: 0px 8%;
}

.big-list > h3 {
    margin-top: 5%;
    margin-bottom: 5%;
}

.big-list > div {
    padding-bottom: 5%;
}

.mese {
    margin-bottom: 30%;
    color: lightgray;
}

.space {
    padding-bottom: 40%;
}

.margin {
    padding-bottom: 10%;
}

/* BLOCCO CENTRALE SECONDO CONTENITORE  */

.central-team {
    margin-top: 5%;
    border-top: 1px solid gray;
    border-left: 1px solid gray;
    border-right: 1px solid gray;
}

.central-team > div {
    padding-left: 2px;
    margin: 10px 2px;
    display: inline-block;
}

.central-block {
    border: 1px solid gray;
}


.menu-centrale > * {
    margin: 2% 2%;
}

.info-utili {
    margin: 1% 2%;
}

/* __________________________ */
    /* TERZO CONTENITORE  */
/* __________________________ */

.third-container {
    margin-top: 5%;
}

.side-list {
    margin-top: 15%;
    margin-left: 3%;
}

.side-list > * {
    display: inline-block;
    margin-bottom: 10%;
}

.third-block > img {
    width: 67%;
}

.third-block > div {
    width: 31%;
}

#white-button {
    padding: 5px 5px;
    background-color: white;
    border: 2px solid gray ;
    cursor: pointer;
    text-decoration: none;
    color: rgb(99, 99, 99);
}

/* __________________________ */
    /* QUARTO CONTENITORE  */
/* __________________________ */

.quarto-contenitore {
    margin-top: 5%;
}

.img1 {
    width: calc((100% / 3) - 10px);
}

#immagine1 {
    width: 100%;
}

.img2 {
    width: calc((100% / 3) - 10px);
}

#immagine2 {
    width: 100%;
}

.img3 {
    width: calc((100% / 3) - 10px);
}

#immagine3 {
    width: 100%;
}

.album > h2 {
    margin-bottom: 2%;
}

.h3-style {
    margin-bottom: 2%;
}

.album2 {
    margin-top: 3%;
}

/* __________________________ */
    /* QUINTO CONTENITORE  */
/* __________________________ */

.quinto-contenitore {
    margin-top: 5%;
}

.fourth-menu > * {
    margin: 4% 0px;
}

#fifth-title {
    font-size: 40px;
}

/* __________________________ */
    /* SESTO CONTENITORE  */
/* __________________________ */

.sesto-contenitore  {
    width: 100%;
    margin-top: 5%;
    background-color: #f5f5f5;
}


/* ELEMENTI FLEXATI SX - MIDDLE - DX */

.album-left {
    width: calc(100% / 3);
    height: calc(100vw / 3);
}

.album-central {
    width: calc(100% / 3);
    height: calc(100vw / 3);
}

.album-right {
    width: calc(100% / 3);
    height: calc(100vw / 3);
}

/* CONTENITORE FOTO  */

.photo-container {
    width: 50%;
    height: 50%;   
}

/* FOTO A SINISTRA  */

.alpha {
  background-color: #5d2c64;
  border: 10px solid #2e1632;
  padding: 100px 40px 60px 40px;
  filter: invert(1);filter: invert(1);
}

.beta {
 
  background-color: #9ef7d4;
  padding: 60px 40px 60px 40px;
  filter: invert(1);

}

.delta {
  background-color: #ff6c31;
  padding: 100px 40px 60px 40px;
  filter: invert(1);
}

.gamma {
  background-color: #00e3e3;
  padding: 60px 40px 60px 40px;
  filter: invert(1);

}

/* DIMENSIONI PER TUTTI */

.img-dimension {
    width: 100%;
}

/* ALBUM CENTRALE  */

.album-central > h3 {
    font-size: 50px;
    margin-bottom: 0px;
}

.album-central > div {
    margin-top: 0px;
    margin-bottom: 10%;
    font-size: 13px;
}

.album-central > * {
    padding-left: 5%;
    padding-right: 5%;
}

.album-central > div:last-child {
   margin-top: 5%;
}

/* FOTO A DESTRA  */

.epsilon {
   background-color: #2affe0;
   padding: 100px 40px 60px 40px;
   filter: invert(1);
}

.zeta {
   background-color: #4b2f18;
   padding: 120px 40px 60px 40px;
   filter: invert(1);
}

.eta {
   background-color: #f2db7e;
   padding: 80px 40px 60px 40px;
   filter: invert(1);
}

.theta {
  background-color: #0027cf;
  padding: 60px 40px 60px 40px;
  filter: invert(1);
}

/* __________________________ */
    /* SETTIMO CONTENITORE  */
/* __________________________ */

.settimo-contenitore {
    width: 100%;
    background-color: #b4d0e7;
    padding-top: 5%;
    padding-bottom: 5%;
}

#seventh-title {
    color: #60072a;
    font-size: 50px;
}

#white-button2 {
    background-color: white;
    text-decoration: none;
    padding: 3px 10px 3px 10px;
    cursor: pointer;
}

/* __________________________ */
    /* OTTAVO CONTENITORE  */
/* __________________________ */

.ottavo-contenitore {
    margin-top: 5%;
    min-height: 600px;
}

#eight-title {
    font-size: 50px;
    padding-bottom: 5%;
}

.line-section {
    padding: 3% 0px 3% 0px;
}

.menu-a-scomparsa {
    display: none;
}

.arrow:hover {
    cursor: pointer;
}

.arrow:hover .menu-a-scomparsa {
    display: block;
    padding: 5% 0px 5% 0px;
}




/* FOOTER  */
.footer-container {
    width: 100%;
    background-color: black;
    color: white;

}

.foot-list {
    padding-top: 5%;
    padding-bottom: 5%;
    width: 1300px;
    color: white;
    margin: 0 auto;
}

.foot-title {
    margin-bottom: 20%;
}

.decoration > li {
    list-style: none;
    padding-bottom: 5%;
}

.decoration > li > a {
    text-decoration: none;
    color: white;
}

#hr2 {
    width: 100%;
    margin-top: 30%;
}

#lingua {
    margin-top: 50%;
}


