/* RESET  */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

 
 .clearfix {
    content: '';
    display: table;
    clear: both;
}

/* ATTRIBUTI HEADER  */

/* HEADER FISSO CON DIMENSIONE TUTTA VIEWPORT  */

.head-container {
    width: 100vw;
    position: fixed;
    
}

/* Container flex header  */

.flex-container-a {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    min-height: 10vh;
    
}

/* ELEMENTI FLOTTATI  */

.left-block > img {
    float: left
}

.links-a {
    float: left;
}


.links-b {
    float: right;
}

.links-c {
    float: right;
}

/* ATTRIBUTI MAIN  */

.expanded-main {
    width: 100%;
}

.narrow-main {
    width: 1200px;
    margin: 0 auto;
}

.footer-container {
    width: 100%;
    background-color: black;
    color: white;
    min-height: 400px;

}


/* DEBUG LAYOUT */

.debug1 {
    background-color: green;
}

.a-debug {
    background-color: lightblue;
    min-height: 300px;
}

.b-debug {
    background-color: pink;
    min-height: 300px;
}

.c-debug {
    background-color: gray;
    min-height: 300px;
}

.d-debug {
    background-color: yellow;
    min-height: 300px;
}

.e-debug {
    background-color: pink;
    min-height: 300px;
}

.f-debug {
    background-color: lightblue;
    min-height: 300px;
}

.g-debug  {
    background-color: blue;
    min-height: 300px;
}

.h-debug {
    background-color: aqua;
    min-height: 300px;
}

.i-debug {
    background-color: pink;
    min-height: 300px;
}

